<h1>FLIGHTS INDEX PAGE</h1>

<%= form_with url: "/flights", method: :get, model: @flight do |f| %>
  <div>
    <%= f.label :airport_from %>
    <%= f.select(:airport_from, @airports) %>
  </div>

  <div>
    <%= f.label :airport_to %>
    <%= f.select(:airport_to, @airports) %>
  </div>

  <div>
    <%= f.label :departure_date %>
    <%= f.select(:departure_date, @dates) %>
  </div>

  <div>
    <% passengers = [[1, 1], [2, 2], [3, 3], [4, 4]] %>
    <%= f.label :passengers %>
    <%= f.select :passengers, passengers %>
  </div>

  <%= f.submit "Search" %>
<% end %>

<% if !@flights.nil? %>
  <h2>Available flights:</h2>

  <% if !@flights.empty? %>
    <%= form_with url: "/bookings/new", method: :get do |form| %>
      <%= form.hidden_field :passengers, :value => params[:flight][:passengers] %>

      <% @flights.each do |f| %>
        <div>
          <%= form.radio_button :flight_id, f.id %>
          <p><%= f.airport_from.name %> -> <%= f.airport_to.name %></p>
          <p><%= f.departure_date %></p>
          <p><%= f.duration.to_i / 60 %> hours</p>
        </div>
      <% end %>

      <%= form.submit "Book Flight" %>
    <% end %>
  <% else %>
    <p>Sorry, there are no flights available in the specified parameters.<p>
  <% end %>
<% end %>
