<h1>NEW BOOKING PAGE</h1>

<%= render partial: "display-flight", locals: { flight: @flight } %>

<h2>Input Passengers: </h2>
<%= form_with model: @booking, id: "form", class: "flight-form", data: { controller: "passenger-form" } do |form| %>
  <%= form.hidden_field :flight_id, value: @flight.id %>
  <%= form.hidden_field :num_of_passengers, value: @num_of_passengers %>

  <div id="passengers-section">
    <div id="templates">
      <%= form.fields_for :passengers do |sub_form| %>
        <template>
          <div class="sub-form-div" data-controller="passenger-remove">
            <div>
              <div>
                <%= sub_form.label :name, "Name: " %>
                <%= sub_form.text_field :name %>
              </div>

              <div>
                <%= sub_form.label :email, "Email: " %>
                <%= sub_form.email_field :email %>
              </div>
            </div>

            <div>
              <%= button_tag("Remove passenger", type: "button", class: "small-button", data: { action: "click->passenger-remove#remove" }) %>
            </div>
          </div>
        </template>
      <% end %>
    </div>

    <%= button_tag("New Passenger", type: "button", class: "small-button", data: { "passenger-form-target" => "newPassenger", "action" => "click->passenger-form#new" }) %>
  </div>

  <%= form.submit %>
<% end %>
