<h1>NEW BOOKING PAGE</h1>

<%= render partial: "display-flight", locals: { flight: @flight } %>

<h2>Input Passengers: </h2>
<%= form_with model: @booking, id: "form", data: { controller: "passenger-form" } do |form| %>
  <%= form.hidden_field :flight_id, value: @flight.id %>
  <%= form.hidden_field :num_of_passengers, value: @num_of_passengers %>

  <div id="passengers-section">
    <div id="templates">
      <%= form.fields_for :passengers do |sub_form| %>
        <template>
          <div class="sub-form-div" data-controller="passenger-remove">
            <%= sub_form.label :name %>
            <%= sub_form.text_field :name %>

            <%= sub_form.label :email %>
            <%= sub_form.email_field :email %>

            <%= button_tag("Remove passenger", type: "button", data: { action: "click->passenger-remove#remove" }) %>
          </div>
        </template>
      <% end %>
    </div>

    <%= button_tag("New Passenger", type: "button", data: { "passenger-form-target" => "newPassenger", "action" => "click->passenger-form#new" }) %>
  </div>

  <%= form.submit %>
<% end %>
